:root {
    --background: #00030C;
    --cor-primaria-branco: #FFFFFF;
    --cor-secundaria-cinza: #F9F9F9;
    --cor-terciaria-azul: #167BF7;
    --cor-quartenaria-cinza-claro: #C0c0c0;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

header {
    background-image: url("assets/Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.containerPrincipal {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 35rem;
    margin: 0 1.4rem;
}


.chamada {
    width: 100%;
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
}

.bannerPrincipal {
    width: 21.75rem;
    margin-bottom: 2rem;
    margin: 1rem 0;
}

.containerBotoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.containerBotaoAzul {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-terciaria-azul);
    background-color: var(--cor-terciaria-azul);
    border-radius: 8px;
    width: 32rem;
    height: 3.5rem;
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.containerBotaoAzul:hover {
        box-shadow: 0 0 10px 3px var(--cor-terciaria-azul)
}

.containerBotaoVazado {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-primaria-branco);
    border-radius: 8px;
    width: 32rem;
    height: 3.5rem;
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.containerBotaoVazado:hover {
        box-shadow: 0 0 10px 3px var(--cor-primaria-branco);
        background-color: var(--cor-primaria-branco);
        color: var(--cor-terciaria-azul)
}


.aviso {
    color: var(--cor-quartenaria-cinza-claro);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.sectionVantagens {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0;
    gap: 6rem;
}

.containerVantagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 1rem;
}

.primeiraImagem {
    grid-column: 1 / 2;
    width: 31.125rem;
}

.descricaoVantagem {
    width: 36.75rem;
    text-align: left;
}

.titulo {
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3rem;
    margin-bottom: 1rem;

}

.textoVantagemADireita {
    color: var(--cor-secundaria-cinza);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
}

.textoVantagemAEsquerda {
    grid-column: 1 / 2;
    color: var(--cor-secundaria-cinza);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    width: 94%;
    margin-left: 2rem;
}

.botaoAssine {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-terciaria-azul);
    background-color: var(--cor-terciaria-azul);
    border-radius: 0.5rem;
    width: 10.168rem;
    height: 3.5rem;
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.botaoAssine:hover {
        box-shadow: 0 0 10px 3px var(--cor-primaria-branco);
        background-color: var(--cor-primaria-branco);
        border: 1px solid var(--cor-primaria-branco);
        color: var(--cor-terciaria-azul)
}

.segundaImagem {
    width: 31rem;
}

.terceiraImagem {
    width: 34.188rem;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 4rem 0rem;
    justify-content: center;
    text-align: center;
}

.listaDeDispostivos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.listaItem {
    font-size: 2rem;
    color: var(--cor-primaria-branco);
    font-weight: 700;
    font-style: bold;
    font-family: "Inter", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem 0;
    gap:1rem;
}

.logoFooter {
    width: 6.375rem;
}

.navLinksFooter ul {
    display: flex;
    flex-direction: space-around;
    margin: 1.5rem 0;
    gap: 1rem;
}

.linkFooter {
    color: var(--cor-primaria-branco);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.linkFooter:hover {
    color: var(--cor-terciaria-azul);
    text-decoration: bold;
    letter-spacing: 0.03rem;
}

.textoFooter {
    padding: 0.2rem 2rem;
    color: var(--cor-quartenaria-cinza-claro);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}